/* SpotifyLoginButton.css */

.spotify-login-button {
    margin-top: 25px;
    padding-top: 5px;
    align-self: center;
    background-color: white;
  }
  
  .spotify-login-button:hover {
    background-color: #2e3a33; /* Darker shade on hover */
    /* Additional hover styles */
  }
  